/*root styles */
:root {
	--dblue: #1C3240;
	--gold: #D9A443;
	--lgreen: #7A8C68;
	--lblue: #2E505F;
	--white: #F5F8F0;
	--purple: #2F1A34;
	--almostblack: #01080D;
 }
 ::selection {
  color: var(--almostblack);
  background: var(--white);
 }
/*bg styles etc */
body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	margin: 0;
}

a {
  text-decoration: none;

}

li {
	list-style: none;
	padding-bottom: 5px;
}

.btn {
	background-color: var(--gold);
	color: var(--white);
	border-style: none;
	border-radius: 5px;
}
#contact_btn {
	font-size: 32px;
	width: 160px;
	margin: auto;
}
#visit-btn {
	font-size: x-large;
}
.visit {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 90%;
	transform: translate(-65%, -15%);
	color: var(--white);
	width: 300px;
	margin: auto;

}
.links {
	color: var(--white);
	font-weight: bold;
	font-variant: small-caps;
}

.links:hover {
	text-decoration: underline solid transparent;
  transition: all 0.5s ease-in-out;
	color: var(--gold);
}

.hero_index {
	background-image:  url('images/hero_space.jpg');
	height: 950px;
  background-position: center;
	background-size: cover;
	width: 100%; 
}

.hero_text,
.space_event {
	text-align: center;
  color: white;
	font-size: xx-large;
}
.space_event {
	font-size: x-large;
}
.hero_explore {
	background-image: url('images/vr.jpg');
	height: 400px;
	background-position: center;
	background-size: cover;
	width: 100%;
	margin-bottom: 10px;
}

.headline_bg {
	background-color: var(--dblue);
	width: 500px;
	height: 250px;
	position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-10%, -15%);
	padding: 5px;
}



/*events exhibitions etc */

.events_bg {
	background-color: var(--dblue);
	width: 100%;
}
.headline_events {
	color: var(--white);
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.gallery {
	width: 300px;
	margin: 8px;
}

.container_index {
	display: flex;	
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	color: var(--white);
}

.desc_headline {
	color: var(--white);
	text-align: left;
	font-size: large;
	padding: 5px;
	
}
.desc_text {
	color: var(--white);
}
.photo {
	height: 200px;
	background-size: cover;
	border-radius: 5px;
}

.prof_event_img {
	background-image: url('images/spaceprof.jpg');
}
.energy_event_img {
	background-image: url('images/energy.jpg');
}
.museum_night_event_img {
	background-image: url('images/museumnight.jpg');
}

/*explore the world of science */
.explore_scroll_bg,
.headline_events {
	background-image: url('images/stars.jpg');
	height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
}

.explore {
	background-color: var(--almostblack);
	margin: auto;
	width: 950px;
	height: auto;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row-reverse;
	border-radius: 5px;
}
.explore_research {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}
.explore_research_text_box{
	display: flex;
	flex-direction: column;
	width: auto;
}
.explore_photo {
	height: 100%;
	
}
.explore_img {
  transform: scaleX(-1);
	object-fit: cover;
	border-radius: 5px;
	height: 200px;
}

.explore_hline {
	font-size: 32px;
	
}
.explore_text_box {
	display: flex;
	flex-direction: column;
	width: auto;
	
}

/*Info about opening hours and entrance */
.museum_info_bg {
	background-color: var(--lblue);
	width: 100%;
	height: auto;

}
.museumopen {
	width: 700px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin: auto;
	align-items: center;
}

.museum_info_entrance, 
.museum_info_hrs {
	display: flex;
	padding: 10px;
	height: auto;
	color: var(--white);
	width: 350px;
	flex-direction: column;

}
.museum_info_hrs_list, 
.museum_info_days_list {
	padding: 5px;
}

.visit_hrs {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin: auto;


}
#visit_hrs_text {
 font-size: x-large;
 margin:  auto;
 padding: 5px;
 color: var(--white);
}



/*NAVBAR */
.navbar #nav-check, .navbar .nav-btn {
	display: none;
	
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--dblue);
	MARGIN-TOP: 10PX;
	height: 60px;
	font-size: x-large;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.nav-links a {
	color: var(--white);
	padding: 10px;
}

.nav-links a:hover {
	text-decoration: underline solid transparent;
	color: var(--gold);
	transition: all 0.9s ease-in-out;
}

.logo img {
	max-width: 95px;
}
/*responsive footer */
footer {
	bottom: 0;
}

.footer_dist {
	background-color: var(--almostblack);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 50px;
	
}

.footer_dist .footer_left,
.footer_dist .footer_cent,
.footer_dist .footer_right {
	display: inline-block;
	vertical-align: top;
}

.footer_dist .footer_left {
	width: 30%;
}
.footer_dist .footer_left img {
	width: 30%;
}

.footer_dist h3 span {
	color:  var(--gold);
}

.footer_dist .footer_links {
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer_dist .footer_links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer_dist .footer_logo{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer_dist .footer_cent {
	width: 35%;
}

.footer_dist .footer_cent i {
	background-color:  var(--almostblack);
	color: var(--white);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer_dist 
.footer_cent {
	font-size: 16px;
	line-height: 38px;
}

.footer_dist .footer_cent p {
	display: inline-block;
	color: var(--white);
	vertical-align: middle;
	margin:0;
}

.footer_dist .footer_cent p span {
	display:block;
	font-weight: normal;
	font-size: 16px;
	line-height:2;
}

.footer_dist .footer_cent p a {
	color:  var(--gold);
	text-decoration: none;
}

.footer_dist .footer_right {
	width: 30%;
}

.footer_dist .footer-company-about{
	line-height: 20px;
	color:  var(--gold);
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.footer_dist .footer-company-about span {
	display: block;
	color:  var(--white);
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer_dist .footer-icons{
	margin-top: 25px;
}

.footer_dist .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 20px;
	color: var(--white);
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}



/*Media queries*/
@media screen and 
(max-width:320px),
(max-width:481px),
(max-width:641px),
(max-width:961px),
(max-width:1025px) {

.container {
	width: 100%;
}

 .footer_dist .footer_left,
 .footer_dist .footer_cent,
 .footer_dist .footer_right {
	 display: block;
	 width: 100%;
	 margin-bottom: 40px;
	 text-align: center;
 }

 .footer_dist .footer_cent i {
	 margin-left: 0;
 }
	.explore_research {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}
	.museum_info_hrs,
	.museumopen {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

.headline_events {
	width: 100%;
	padding: 5px;
}
	.headline_bg {
		background-color: var(--purple);
		width: 345px;
		height: 250px;
		position: absolute;
		top: 10%;
		left: 15%;
		transform: translate(-10%, -15%);
		padding: 5px;
		margin: auto;
	}
	.explore_img
	.explore_photo {
		transform: scaleX(-1);
		object-fit: cover;
		border-radius: 5px;
		width: 100%;
	 }

	 .explore {
		display: flex;
		flex-direction: column;
		width: 85%;
	 }

	#visit_hrs_text {
		font-size: 16px;
		font-weight: bold;
}
	.museum_info {
		display: flex;
		flex-direction: column;
}

	.gallery { 
		width: 200px; 
		margin: 6px; 
	}
	.photo { 
		height: 133px;
	 }
	.desc { 
		padding: 8px; 
	}

	.gallerybg {
	display: flex;
	flex-direction: column;
	height: auto;
	flex-wrap: wrap;
	}

	.button {
		width: 150px;
		font-size: 16px;
	}
	#visit-btn {
		width: 150px;
		font-size: 16px;
	}
	.navbar .nav-btn {
    display: inline-block;
    position: relative;
    top: 1.875rem;
    left: 100px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    padding: 1.5625rem;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 0.625rem;
    width: 1.5625rem;
		border-top: 0.1875rem solid var(--white);
		border-radius: 0.125rem;
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    background-color: var(--dblue);
    overflow-y: hidden;
    top: 4.375rem;
		right: -30px;
		z-index: 999;
		transition: all 0.5s ease-in-out;
  }
  .navbar .nav-links a {
		display: block;
		padding: 0.625rem;
  }
   .navbar #nav-check:not(:checked) ~ .nav-links {
		height: 0px;
  }
 
  .navbar #nav-check:checked ~ .nav-links {
		height: 12.5rem;
		top: 30px;
	}
	
  .navbar .nav-links  {
    padding: 0;
    margin: 1.25rem;
		font-size: 1rem;
		color: var(--white);
  }
}