/*root styles */
:root {
	--dblue: #1C3240;
	--gold: #D9A443;
	--lblue: #2E505F;
	--white: #F5F8F0;
	--almostblack: #01080D;
 
}
 ::selection {
  color: var(--almostblack);
  background: var(--white);
 }
/*removes unremovable overflow in responsive mode*/
 /*html { 
	overflow:auto; 
}
body {
	overflow: auto; 
}
*/
/*bg styles etc */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: var(--dblue);
	overflow-x: hidden;
}
img,
div,
form,
input,
textarea {
	max-width: 100%;
	border-radius: 5px; 
}

a,
h1,
address {
  text-decoration: none;
	color: var(--white);
}

li {
	list-style: none;
	padding-bottom: 5px;
}

h2,
label {
	color: var(--gold);
}

.visit {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 90%;
	transform: translate(-65%, -15%);
	color: var(--white);
	width: 300px;
	margin: auto;
}

.links {
	color: var(--gold);
	font-weight: bold;
}

.links:hover {
	text-decoration: underline solid transparent;
  transition: all 0.5s ease-in-out;
	color: var(--white);
}
.active_link_page {
	color: var(--gold);
}

.hero_index {
	height: 950px;
  background-position: center;
	background-size: cover;
	margin: 0;
}
.hero_index_img {
	background-image: linear-gradient(0deg, rgba(46, 80, 95, 1) 10%, rgba(0,0,0,0) 80%), url('images/hero_space.jpg');
}

.hero_text {
	text-align: center;
	color: var(--white);
	font-size: xx-large;
}
.hero_text_exhibit {
	color: var(--white);
	display: flex;
	align-items: baseline;
	justify-content: center;
	background-color: var(--dblue);
	margin-top: 35px;
}

.hero_involve_img {
	background-image: linear-gradient(0deg, rgba(28,50,64,1) 17%, rgba(0,0,0,0) 100%), url('images/museumnight.jpg');
	height: 300px;
}

.hero_exhibit_img {
	background-image: linear-gradient(0deg, rgba(28,50,64,1) 17%, rgba(0,0,0,0) 100%), url('images/explore.jpg');
	height: 300px;
}

.hero_visit_img {
	background-image: linear-gradient(0deg, rgba(28,50,64,1) 17%, rgba(0,0,0,0) 100%), url('images/museumbuilding.JPG');
	height: 300px;
}

.hero_explore_img {
	background-image: linear-gradient(0deg, rgba(28,50,64,1) 17%, rgba(0,0,0,0) 100%), url('images/cosmos.jpg');
	height: 300px;
}

.hero_event_img {
	background-image: linear-gradient(0deg, rgba(28,50,64,1) 17%, rgba(0,0,0,0) 100%), url('images/museumevent.jpg');
	height: 400px;
}

.headline_box {
	width: 480px;
	height: 250px;
	position: absolute;
	top: 10%;
	left: 15%;
	transform: translate(-10%, -15%);
	padding: 5px;
}

.space_event {
	font-size: x-large;
	text-align: center;
	color: var(--white);
}

.hero_explore {
	background-image: url('images/vr.jpg');
	height: 400px;
	background-position: center;
	background-size: cover;
	width: 100%;
	margin-bottom: 10px;
}

/*events exhibitions etc */
.exhibit_hlines h2 {
	color: var(--gold);
}

.gallery {
	width: 300px;
	margin: 8px;
}

.container_index {
	display: flex;	
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	color: var(--white);
	padding-top: 10px;
}

.desc_headline {
	color: var(--white);
	text-align: left;
	font-size: large;
	padding: 5px;
}

.desc_text {
	color: var(--white);
}

.photo {
	height: 200px;
	background-size: cover;
}

.prof_event_img {
	background-image: url('images/spaceprof.jpg');
}

.energy_event_img {
	background-image: url('images/energy.jpg');
}

.museum_night_event_index_img {
	background-image: url('images/museumnight.jpg');
}

/*explore page*/
.headline_events {
	color: var(--white);
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.explore_scroll_bg,
.headline_events {
	background-image: url('images/stars.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
}

.explore {
	background-color: var(--almostblack);
	margin: auto;
	width: 950px;
	min-width: 230px;
	height: auto;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row-reverse;
}
.explore_research {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}

.explore_photo {
	height: 100%;
}

.explore_img {
  transform: scaleX(-1);
	object-fit: cover;
	height: 200px;
}

.explore_hiline h2 {
	color: var(--gold);
}
.explore_text_box,
.explore_research_text_box {
	display: flex;
	flex-direction: column;
	width: auto;
}

/*visit page */
.visit_img {
	object-fit: cover;
	width: 300px;
}
.visit_content {
	display: flex;
	flex-direction: row-reverse;

}
.visit_text_box {
	display: flex;
	flex-direction: column;
	width: auto;
}

/*Info about opening hours and entrance */
.museum_info_bg {
	background-color: var(--lblue);
	height: auto;
}

.museumopen {
	width: 700px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin: auto;
	align-items: center;
}

.museum_info_entrance, 
.museum_info_hrs {
	display: flex;
	padding: 10px;
	height: auto;
	color: var(--white);
	width: 350px;
	flex-direction: column;
}

.museum_info_hrs_list, 
.museum_info_days_list {
	padding: 5px;
}

.visit_hrs {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin: auto;
}

.visit_hrs_text {
 font-size: x-large;
 margin:  auto;
 padding: 5px;
 color: var(--white);
}
/* contact form*/

form { 
	max-width: 420px; 
}
#contact_us {
	width: 100%;
}

.feedback_input {
  color:var(--white);
  background-color: transparent;
  border:1px solid var(--lblue);
  transition: all 0.3s;
	padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback_input:focus { 
	border:1px solid var(--gold);
 }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:var(--gold);
  border:0;
  cursor:pointer;
  color:var(--white);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top:-4px;
}

[type="submit"]:hover { 
	background:var(--lblue); 
}
/*navbar*/
nav {
  background: var(--dblue);
  height: 80px;
	width: 100%;
	z-index:9999;
	position: fixed;
}
label.logo{
  font-size: 56px;
  line-height: 80px;
  padding: 0 100px;
	font-family: 'Khand';
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: var(--white);
  font-size: x-large;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover{
  transition: .5s;
  color: var(--gold);
	text-decoration: solid underline 2px;
}

.checkbtn {
  font-size: 30px;
  color: var(--white);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/*responsive footer */
footer {
	bottom: 0;
}

.footer_dist {
	background-color: var(--almostblack);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 50px;
}

.footer_dist .footer_left,
.footer_dist .footer_cent,
.footer_dist .footer_right {
	display: inline-block;
	vertical-align: top;
}

.footer_dist .footer_left {
	width: 30%;
}
.footer_dist .footer_left img {
	width: 30%;
}

.footer_dist h3 span {
	color:  var(--gold);
}

.footer_dist .footer_links {
	color:  var(--white);
	margin: 20px 0 12px;
}

.footer_dist .footer_links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer_links a:hover {
	text-decoration: underline solid transparent;
	transition: all 0.5s ease-in-out;
	color: var(--gold);
}

.footer_dist .footer_logo{
	color:  var(--lblue);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer_dist .footer_cent {
	width: 35%;
}

.footer_dist .footer_cent i {
	color: var(--white);
	font-size: 25px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer_dist 
.footer_cent {
	font-size: 16px;
	line-height: 38px;
}

.footer_dist .footer_cent p {
	display: inline-block;
	color: var(--white);
	vertical-align: middle;
	margin:0;
}

.footer_dist .footer_cent p span {
	display:block;
	font-weight: normal;
	font-size: 16px;
	line-height:2;
}

.footer_dist .footer_cent p a {
	color:  var(--gold);
	text-decoration: none;
}

.footer_dist .footer_right {
	width: 30%;
}

.footer_dist .footer_company_about {
	line-height: 20px;
	color:  var(--gold);
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.footer_dist .footer_company_about span {
	display: block;
	color:  var(--white);
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer_dist .footer_icons{
	margin-top: 25px;
}

.footer_dist .footer_icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 20px;
	color: var(--white);
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}


/*Media queries*/
@media screen and 
(max-width:375px),
(max-width:481px),
(max-width:641px),
(max-width:961px),
(max-width:1025px) {
.explore,
.visit_content,
.visit_text_box
.desc_text {
	display: flex;
	flex-direction: column;
}
	img,
	div,
	form,
	input {
		max-width: 100%;
		border-radius: 5px;
	}

	nav {
		position: fixed;
	}
  .checkbtn{
    display: block;
  }

	label.logo{
    font-size: 30px;
    padding-left: 50px;
		font-family: Arial, Helvetica, sans-serif; /*fallback for Khand on web*/
  }

  nav ul li a{
    font-size: 16px;
		height: auto;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: var(--dblue);
    top: 80px;
    left: -900px;
    text-align: center;
		transition: all .5s;
		z-index: 9999;
		margin: auto;
  }
	
  nav ul li{
    display: block;
    margin: 20px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover  {
    color: var(--gold);
	}
	
  #check:checked ~ ul {
    left: 0;
	}

	.visit_img {
		object-fit: cover;
		width: 100px;
		height: 100px;
	}
	.visit_content {
		display: flex;
		flex-direction: row-reverse;
		width: auto;
	}
	.visit_text_box {
		display: flex;
		flex-direction: column;
		text-align: justify;
	}
	.explore {
		min-width: 100%;
	}

	.hero_text {
		text-align: center;
		color: var(--white);
		
	}
	.hero_text_exhibit h1 {
		width: auto;
		padding: 2px;
		font-size: 20px;
	}
	.hero_text_exhibit {
		margin-top: 60px;
	}

 .footer_dist .footer_left,
 .footer_dist .footer_cent,
 .footer_dist .footer_right {
	 display: block;
	 width: 100%;
	 margin-bottom: 40px;
	 text-align: center;
 }

 .footer_dist .footer_cent i {
	 margin-left: 0;
 }
	.explore_research,
	.explore{
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}
	.museum_info_hrs,
	.museumopen {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		width: 100%;
	}
	.hero_index {
		height: 340px;
	}
	.headline_box {
		width: 300px;
		display: flex;
		flex-direction: column;
		font-size: 18px;
}

	.headline_events,
	.events_bg,
	.container_index  {
		padding: 3px;
	}
	.headline_events h2 {
		padding: 5px;
	}
	.explore_img
	.explore_photo {
		transform: scaleX(-1);
		object-fit: cover;
		width: 100%;
	
	}
	.explore,
	.gallery {
		display: flex;
		flex-direction: column;
		width: 330px;
		padding: 10px;
	 }

	.visit_hrs_text {
		font-size: 16px;
		font-weight: bold;
	}
	.museum_info {
		display: flex;
		flex-direction: column;
	}

	.photo { 
		height: 133px;
	 }

	.desc { 
		padding: 8px; 
	}

	.gallerybg {
		display: flex;
		flex-direction: column;
		height: auto;
		flex-wrap: wrap;
	}
}